a {
    color: black;
    text-decoration: none;
}

.header {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.header_container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    max-width: 1000px;
    margin: auto;
}
.header_h1 {
   z-index: 5;
   margin-right: 0;
}

.header_svg {
    display: none;
}

.shop_svg {
    display: none;
}

@media(max-width: 800px) {
    .header_svg {
        display: block;
        width: 20px;
        height: 20px;
        z-index: 10;
        position: absolute;
        right: 80px;
        top: 20px;
        cursor: pointer;
        transition: transform 500ms ease;
    }

    .header_svg {
        transform: scale(1.1);
    }

    .header_svg.active {
        display: none;
    }

    .shop_wrapper {
        background-color: #0009;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        transform: translate(0px, -100%);
        transition: all 300ms ease 0s;
    }

    .shop_wrapper.active {
        transform: translate(0px, 0px);
    }

    .shop {
        background-color: #fff;
        width:80%;
        height: 80%;
        margin: auto;
        margin-top: 100px;
        overflow: auto;
        position: relative;
    }

    .shop_svg {
        display: block;
        color: red;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        right: 10px;
    }

    .value {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 30px;
    }

    .header_h1 {
        font-size: 25px;
    }
}

.menu_icon {
    display: none;
}


.menu_list li {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
    position: relative;
    margin: 0 0 0 30px;
}

@media (min-width: 800px) {
    .menu_list {
        display: flex;
        align-items: center;
    }
    .menu_list li {
        padding: 10px 0;
    }
}

@media (max-width: 800px) {
    .menu_icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 20px;
        height: 10px;
        cursor: pointer;
        transition: transform 500ms ease;
    }

    .menu_icon:hover {
        transform: scale(1.1);
    }

    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        width: 100%;
        height: 20%;
        transition: all 0.3s ease 0s;
        background-color: #000000;
    }

    .menu_icon::before,
    .menu_icon::after {
        content: "";
    }

    .menu_icon::before {
        top: 0;
    }

    .menu_icon::after {
        bottom: 0;
    }

    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_icon.active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu_icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu_icon.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu_body {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #0009;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu_body.active {
        left: 0;
    }

    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 65px;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 2;
    }
    .menu_list li {
        font-size: 30px;
        margin: 0 0 30px 0;
    }

    .menu_list li a {
        color: #fff;
    }
}